ion-content {
  --background: #05070d;
}

.login-container {
  width: 100%;
  max-width: 420px;
  min-height: 100vh;

  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 30px;
}

.logo {
  width: 150px;
  height: 150px;

  margin: 0 auto 25px;

  display: block;

  object-fit: contain;

  filter: drop-shadow(0 0 20px rgba(59,130,246,.45));
}

h1 {
  text-align: center;

  color: #3b82f6;

  font-size: 38px;

  font-weight: 700;

  margin-bottom: 8px;
}

.subtitulo {
  text-align: center;

  color: #bfc8d8;

  margin-bottom: 35px;

  font-size: 16px;
}

.input-item {

  --background: #111827;

  --color: white;

  --border-radius: 14px;

  --highlight-color-focused: #3b82f6;

  border: 1px solid rgba(59,130,246,.45);

  border-radius: 14px;

  margin-bottom: 18px;
}

ion-input {

  --color: white;

  font-size: 16px;

}

ion-icon {

  color: #3b82f6;

  font-size: 22px;

}

.login-button {

  margin-top: 10px;

  height: 52px;

  --border-radius: 14px;

  font-weight: bold;

  font-size: 16px;

  letter-spacing: 1px;

  --background: linear-gradient(90deg,#2563eb,#3b82f6);

  --box-shadow: 0 0 20px rgba(59,130,246,.35);

}

.registro-link {

  margin-top: 24px;

  text-align: center;

  color: #c6d0df;

  font-size: 15px;

}

.registro-link span {

  color: #60a5fa;

  cursor: pointer;

  font-weight: 700;

}

.registro-link span:hover {

  color: white;

}