USE [master]
GO
/****** Object:  Database [BD_MysticBox]    Script Date: 12/8/2026 21:05:30 ******/
CREATE DATABASE [BD_MysticBox]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_MysticBox', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_MysticBox.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_MysticBox_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BD_MysticBox_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_MysticBox].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_MysticBox]
GO
/****** Object:  Table [dbo].[Calificaciones]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calificaciones](
	[IdCalificacion] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[Estrellas] [int] NOT NULL,
	[Comentario] [varchar](500) NULL,
	[FechaCalificacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCalificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[IdCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[Estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[NombreCategoria] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cupones]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cupones](
	[IdCupon] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](255) NULL,
	[PorcentajeDescuento] [decimal](5, 2) NULL,
	[MontoDescuento] [decimal](10, 2) NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
	[Activo] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCupon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCarrito]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCarrito](
	[IdDetalleCarrito] [int] IDENTITY(1,1) NOT NULL,
	[IdCarrito] [int] NOT NULL,
	[IdCaja] [int] NOT NULL,
	[IdPersonalizacion] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]),
PRIMARY KEY CLUSTERED 
(
	[IdDetalleCarrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallePedido]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallePedido](
	[IdDetallePedido] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdCaja] [int] NOT NULL,
	[IdPersonalizacion] [int] NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Subtotal]  AS ([Cantidad]*[PrecioUnitario]),
PRIMARY KEY CLUSTERED 
(
	[IdDetallePedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entregas]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entregas](
	[IdEntrega] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[DireccionEntrega] [varchar](255) NOT NULL,
	[EstadoEntrega] [varchar](50) NULL,
	[FechaEstimada] [date] NULL,
	[FechaEntrega] [date] NULL,
	[UbicacionReferencia] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[IdFactura] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[NumeroFactura] [varchar](50) NOT NULL,
	[FechaFactura] [datetime] NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[CostoEnvio] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetodosPago]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetodosPago](
	[IdMetodoPago] [int] IDENTITY(1,1) NOT NULL,
	[NombreMetodo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMetodoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MysticBox]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MysticBox](
	[IdCaja] [int] IDENTITY(1,1) NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[NombreCaja] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Imagen] [varchar](255) NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NULL,
	[EsOferta] [bit] NOT NULL,
	[PorcentajeOferta] [decimal](5, 2) NULL,
	[EsRecomendada] [bit] NOT NULL,
	[EsDestacada] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCaja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IdPedido] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCupon] [int] NULL,
	[IdMetodoPago] [int] NOT NULL,
	[FechaPedido] [datetime] NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Descuento] [decimal](10, 2) NULL,
	[Total] [decimal](10, 2) NOT NULL,
	[EstadoPedido] [varchar](50) NULL,
	[TipoEntrega] [varchar](20) NULL,
	[DireccionEntrega] [varchar](300) NULL,
	[ProvinciaEntrega] [varchar](100) NULL,
	[CostoEnvio] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Personalizaciones]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Personalizaciones](
	[IdPersonalizacion] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdCaja] [int] NOT NULL,
	[TamanoCaja] [varchar](50) NULL,
	[Preferencias] [varchar](300) NULL,
	[Exclusiones] [varchar](300) NULL,
	[MensajePersonalizado] [varchar](255) NULL,
	[FechaPersonalizacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPersonalizacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Telefono] [varchar](20) NULL,
	[Direccion] [varchar](200) NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[FechaRegistro] [datetime] NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WhiteList]    Script Date: 12/8/2026 21:05:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WhiteList](
	[IdWhiteList] [int] IDENTITY(1,1) NOT NULL,
	[Correo] [varchar](100) NOT NULL,
	[Activo] [bit] NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdWhiteList] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Calificaciones] ON 

INSERT [dbo].[Calificaciones] ([IdCalificacion], [IdPedido], [Estrellas], [Comentario], [FechaCalificacion]) VALUES (2, 8, 5, N'', CAST(N'2026-08-08T22:16:40.323' AS DateTime))
INSERT [dbo].[Calificaciones] ([IdCalificacion], [IdPedido], [Estrellas], [Comentario], [FechaCalificacion]) VALUES (3, 8, 5, N'', CAST(N'2026-08-11T00:03:14.613' AS DateTime))
INSERT [dbo].[Calificaciones] ([IdCalificacion], [IdPedido], [Estrellas], [Comentario], [FechaCalificacion]) VALUES (4, 14, 5, N'sensacionales', CAST(N'2026-08-12T20:30:12.897' AS DateTime))
SET IDENTITY_INSERT [dbo].[Calificaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Carrito] ON 

INSERT [dbo].[Carrito] ([IdCarrito], [IdUsuario], [FechaCreacion], [Estado]) VALUES (1, 5, CAST(N'2026-07-19T18:25:11.663' AS DateTime), N'Finalizado')
INSERT [dbo].[Carrito] ([IdCarrito], [IdUsuario], [FechaCreacion], [Estado]) VALUES (2, 5, CAST(N'2026-07-22T19:54:43.597' AS DateTime), N'Finalizado')
INSERT [dbo].[Carrito] ([IdCarrito], [IdUsuario], [FechaCreacion], [Estado]) VALUES (3, 5, CAST(N'2026-07-27T19:51:32.267' AS DateTime), N'Finalizado')
SET IDENTITY_INSERT [dbo].[Carrito] OFF
GO
SET IDENTITY_INSERT [dbo].[Categorias] ON 

INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (1, N'Gamer Box', N'Caja sorpresa con accesorios y artículos gamer.')
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (2, N'Beauty Box', N'Caja sorpresa con productos de belleza.')
INSERT [dbo].[Categorias] ([IdCategoria], [NombreCategoria], [Descripcion]) VALUES (3, N'Anime Box', N'Caja sorpresa con artículos de anime.')
SET IDENTITY_INSERT [dbo].[Categorias] OFF
GO
SET IDENTITY_INSERT [dbo].[Cupones] ON 

INSERT [dbo].[Cupones] ([IdCupon], [Codigo], [Descripcion], [PorcentajeDescuento], [MontoDescuento], [FechaInicio], [FechaFin], [Activo]) VALUES (1, N'MYSTIC10', N'Descuento general del 10%', CAST(10.00 AS Decimal(5, 2)), NULL, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[Cupones] ([IdCupon], [Codigo], [Descripcion], [PorcentajeDescuento], [MontoDescuento], [FechaInicio], [FechaFin], [Activo]) VALUES (2, N'WELCOME20', N'Descuento de bienvenida del 20%', CAST(20.00 AS Decimal(5, 2)), NULL, CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
INSERT [dbo].[Cupones] ([IdCupon], [Codigo], [Descripcion], [PorcentajeDescuento], [MontoDescuento], [FechaInicio], [FechaFin], [Activo]) VALUES (3, N'OFFICE5000', N'Descuento fijo para Office Boost Box', NULL, CAST(5000.00 AS Decimal(10, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-12-31' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Cupones] OFF
GO
SET IDENTITY_INSERT [dbo].[DetalleCarrito] ON 

INSERT [dbo].[DetalleCarrito] ([IdDetalleCarrito], [IdCarrito], [IdCaja], [IdPersonalizacion], [Cantidad], [PrecioUnitario]) VALUES (1, 1, 4, NULL, 1, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCarrito] ([IdDetalleCarrito], [IdCarrito], [IdCaja], [IdPersonalizacion], [Cantidad], [PrecioUnitario]) VALUES (2, 2, 4, NULL, 1, CAST(0.00 AS Decimal(10, 2)))
INSERT [dbo].[DetalleCarrito] ([IdDetalleCarrito], [IdCarrito], [IdCaja], [IdPersonalizacion], [Cantidad], [PrecioUnitario]) VALUES (3, 3, 4, NULL, 1, CAST(0.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetalleCarrito] OFF
GO
SET IDENTITY_INSERT [dbo].[DetallePedido] ON 

INSERT [dbo].[DetallePedido] ([IdDetallePedido], [IdPedido], [IdCaja], [IdPersonalizacion], [Cantidad], [PrecioUnitario]) VALUES (1, 7, 4, NULL, 1, CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([IdDetallePedido], [IdPedido], [IdCaja], [IdPersonalizacion], [Cantidad], [PrecioUnitario]) VALUES (2, 8, 4, NULL, 1, CAST(15000.00 AS Decimal(10, 2)))
INSERT [dbo].[DetallePedido] ([IdDetallePedido], [IdPedido], [IdCaja], [IdPersonalizacion], [Cantidad], [PrecioUnitario]) VALUES (3, 9, 4, NULL, 1, CAST(15000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[DetallePedido] OFF
GO
SET IDENTITY_INSERT [dbo].[Entregas] ON 

INSERT [dbo].[Entregas] ([IdEntrega], [IdPedido], [DireccionEntrega], [EstadoEntrega], [FechaEstimada], [FechaEntrega], [UbicacionReferencia]) VALUES (7, 8, N'Limón, Guapiles', N'Pendiente', CAST(N'2026-07-27' AS Date), NULL, N'Ubicación aproximada según la dirección proporcionada por el cliente.')
INSERT [dbo].[Entregas] ([IdEntrega], [IdPedido], [DireccionEntrega], [EstadoEntrega], [FechaEstimada], [FechaEntrega], [UbicacionReferencia]) VALUES (8, 9, N'Limón, Guapiles', N'Pendiente', CAST(N'2026-08-13' AS Date), NULL, N'Ubicación aproximada según la dirección proporcionada por el cliente.')
INSERT [dbo].[Entregas] ([IdEntrega], [IdPedido], [DireccionEntrega], [EstadoEntrega], [FechaEstimada], [FechaEntrega], [UbicacionReferencia]) VALUES (9, 10, N'Heredia, San Miguel', N'Pendiente', CAST(N'2026-08-15' AS Date), NULL, N'Ubicación aproximada según la dirección proporcionada por el cliente.')
SET IDENTITY_INSERT [dbo].[Entregas] OFF
GO
SET IDENTITY_INSERT [dbo].[Facturas] ON 

INSERT [dbo].[Facturas] ([IdFactura], [IdPedido], [NumeroFactura], [FechaFactura], [Subtotal], [Descuento], [Total], [CostoEnvio]) VALUES (1, 7, N'FAC-000007', CAST(N'2026-07-19T18:27:10.907' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(13500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Facturas] ([IdFactura], [IdPedido], [NumeroFactura], [FechaFactura], [Subtotal], [Descuento], [Total], [CostoEnvio]) VALUES (2, 8, N'FAC-000008', CAST(N'2026-07-22T19:55:50.197' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Facturas] ([IdFactura], [IdPedido], [NumeroFactura], [FechaFactura], [Subtotal], [Descuento], [Total], [CostoEnvio]) VALUES (3, 9, N'FAC-000009', CAST(N'2026-08-08T21:57:13.793' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(13500.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Facturas] OFF
GO
SET IDENTITY_INSERT [dbo].[MetodosPago] ON 

INSERT [dbo].[MetodosPago] ([IdMetodoPago], [NombreMetodo]) VALUES (1, N'Tarjeta')
INSERT [dbo].[MetodosPago] ([IdMetodoPago], [NombreMetodo]) VALUES (2, N'SINPE Móvil')
INSERT [dbo].[MetodosPago] ([IdMetodoPago], [NombreMetodo]) VALUES (3, N'Transferencia bancaria')
SET IDENTITY_INSERT [dbo].[MetodosPago] OFF
GO
SET IDENTITY_INSERT [dbo].[MysticBox] ON 

INSERT [dbo].[MysticBox] ([IdCaja], [IdCategoria], [NombreCaja], [Descripcion], [Precio], [Imagen], [Stock], [Estado], [EsOferta], [PorcentajeOferta], [EsRecomendada], [EsDestacada]) VALUES (4, 1, N'Gamer Box Básica', N'Caja sorpresa gamer básica.', CAST(15000.00 AS Decimal(10, 2)), N'Gamer-Box-Basica.png', 19, 1, 1, CAST(10.00 AS Decimal(5, 2)), 0, 0)
INSERT [dbo].[MysticBox] ([IdCaja], [IdCategoria], [NombreCaja], [Descripcion], [Precio], [Imagen], [Stock], [Estado], [EsOferta], [PorcentajeOferta], [EsRecomendada], [EsDestacada]) VALUES (5, 1, N'Gamer Box Deluxe', N'Caja sorpresa gamer deluxe.', CAST(20000.00 AS Decimal(10, 2)), N'Gamer-Box-Deluxe.png', 20, 1, 0, NULL, 0, 0)
INSERT [dbo].[MysticBox] ([IdCaja], [IdCategoria], [NombreCaja], [Descripcion], [Precio], [Imagen], [Stock], [Estado], [EsOferta], [PorcentajeOferta], [EsRecomendada], [EsDestacada]) VALUES (6, 1, N'Gamer Box Premium', N'Caja sorpresa gamer premium.', CAST(28000.00 AS Decimal(10, 2)), N'Gamer-Box-Premium.png', 20, 1, 0, NULL, 0, 0)
SET IDENTITY_INSERT [dbo].[MysticBox] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([IdPedido], [IdUsuario], [IdCupon], [IdMetodoPago], [FechaPedido], [Subtotal], [Descuento], [Total], [EstadoPedido], [TipoEntrega], [DireccionEntrega], [ProvinciaEntrega], [CostoEnvio]) VALUES (7, 5, 1, 2, CAST(N'2026-07-19T18:27:10.700' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(13500.00 AS Decimal(10, 2)), N'Cancelado', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Pedidos] ([IdPedido], [IdUsuario], [IdCupon], [IdMetodoPago], [FechaPedido], [Subtotal], [Descuento], [Total], [EstadoPedido], [TipoEntrega], [DireccionEntrega], [ProvinciaEntrega], [CostoEnvio]) VALUES (8, 5, NULL, 3, CAST(N'2026-07-22T19:55:49.960' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(10, 2)), N'Entregado', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[Pedidos] ([IdPedido], [IdUsuario], [IdCupon], [IdMetodoPago], [FechaPedido], [Subtotal], [Descuento], [Total], [EstadoPedido], [TipoEntrega], [DireccionEntrega], [ProvinciaEntrega], [CostoEnvio]) VALUES (9, 5, 1, 3, CAST(N'2026-08-08T21:57:13.480' AS DateTime), CAST(15000.00 AS Decimal(10, 2)), CAST(1500.00 AS Decimal(10, 2)), CAST(13500.00 AS Decimal(10, 2)), N'En camino', NULL, NULL, NULL, CAST(0.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
GO
SET IDENTITY_INSERT [dbo].[Personalizaciones] ON 

INSERT [dbo].[Personalizaciones] ([IdPersonalizacion], [IdUsuario], [IdCaja], [TamanoCaja], [Preferencias], [Exclusiones], [MensajePersonalizado], [FechaPersonalizacion]) VALUES (1, 5, 4, N'Básica', N'', N'', N'', CAST(N'2026-07-19T18:25:11.007' AS DateTime))
INSERT [dbo].[Personalizaciones] ([IdPersonalizacion], [IdUsuario], [IdCaja], [TamanoCaja], [Preferencias], [Exclusiones], [MensajePersonalizado], [FechaPersonalizacion]) VALUES (2, 5, 4, N'Básica', N'Accesario Led', N'No microfonos', N'Disfrutar', CAST(N'2026-07-22T19:54:43.263' AS DateTime))
INSERT [dbo].[Personalizaciones] ([IdPersonalizacion], [IdUsuario], [IdCaja], [TamanoCaja], [Preferencias], [Exclusiones], [MensajePersonalizado], [FechaPersonalizacion]) VALUES (3, 5, 4, N'Básica', N'Productos para computadoras', N'no incluir microfonos', N'gamer', CAST(N'2026-07-27T19:51:32.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[Personalizaciones] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([IdRol], [NombreRol]) VALUES (2, N'Cliente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [IdRol], [Nombre], [Correo], [Telefono], [Direccion], [Contrasena], [FechaRegistro], [Estado]) VALUES (5, 2, N'Lucia', N'quiros11@gmail.com', N'75961245', N'Limón, Guapiles', N'AQAAAAIAAYagAAAAEPeFLg6dtFtGydT3jGui8hgSjXG3NanfD3VVg8JG/TT+sjIzMEB5J2TgbQVpeoF7nw==', CAST(N'2026-06-27T20:04:12.077' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdRol], [Nombre], [Correo], [Telefono], [Direccion], [Contrasena], [FechaRegistro], [Estado]) VALUES (7, 1, N'Andreina', N'betsi.quiros11@gmail.com', N'84203056', N'Guapiles, Limón', N'AQAAAAIAAYagAAAAECfrF0lQ0tFABMJVT14BbIZ8ceMb6lDjh934FugQbDzAg0mnJ45FITQHRuXmcNGRcA==', CAST(N'2026-07-27T19:41:25.367' AS DateTime), 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [IdRol], [Nombre], [Correo], [Telefono], [Direccion], [Contrasena], [FechaRegistro], [Estado]) VALUES (8, 2, N'Kailani', N'alana29@hotmail.com', N'88306029', N'Heredia, San Miguel', N'AQAAAAIAAYagAAAAEAZno9WW2K8Qtxm0viAzzuHPWQYlGQoPLb1qOKXoYTpjXF9BOlQ4dHm7jMkEBlA/aA==', CAST(N'2026-08-10T20:42:12.393' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[WhiteList] ON 

INSERT [dbo].[WhiteList] ([IdWhiteList], [Correo], [Activo], [FechaRegistro]) VALUES (1, N'admin@mysticbox.com', 1, CAST(N'2026-06-01T22:40:30.200' AS DateTime))
INSERT [dbo].[WhiteList] ([IdWhiteList], [Correo], [Activo], [FechaRegistro]) VALUES (2, N'cliente@mysticbox.com', 1, CAST(N'2026-06-01T22:40:30.200' AS DateTime))
SET IDENTITY_INSERT [dbo].[WhiteList] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Cupones__06370DAC341B458B]    Script Date: 12/8/2026 21:05:31 ******/
ALTER TABLE [dbo].[Cupones] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Facturas__CF12F9A6C61CA568]    Script Date: 12/8/2026 21:05:31 ******/
ALTER TABLE [dbo].[Facturas] ADD UNIQUE NONCLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__60695A1913DBD5C6]    Script Date: 12/8/2026 21:05:31 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__WhiteLis__60695A19D7123777]    Script Date: 12/8/2026 21:05:31 ******/
ALTER TABLE [dbo].[WhiteList] ADD UNIQUE NONCLUSTERED 
(
	[Correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Calificaciones] ADD  DEFAULT (getdate()) FOR [FechaCalificacion]
GO
ALTER TABLE [dbo].[Carrito] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Carrito] ADD  DEFAULT ('Activo') FOR [Estado]
GO
ALTER TABLE [dbo].[Cupones] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Entregas] ADD  DEFAULT ('Pendiente') FOR [EstadoEntrega]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT (getdate()) FOR [FechaFactura]
GO
ALTER TABLE [dbo].[Facturas] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Facturas] ADD  CONSTRAINT [DF_Facturas_CostoEnvio]  DEFAULT ((0)) FOR [CostoEnvio]
GO
ALTER TABLE [dbo].[MysticBox] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[MysticBox] ADD  CONSTRAINT [DF_MysticBox_EsOferta]  DEFAULT ((0)) FOR [EsOferta]
GO
ALTER TABLE [dbo].[MysticBox] ADD  CONSTRAINT [DF_MysticBox_EsRecomendada]  DEFAULT ((0)) FOR [EsRecomendada]
GO
ALTER TABLE [dbo].[MysticBox] ADD  CONSTRAINT [DF_MysticBox_EsDestacada]  DEFAULT ((0)) FOR [EsDestacada]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT (getdate()) FOR [FechaPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ((0)) FOR [Descuento]
GO
ALTER TABLE [dbo].[Pedidos] ADD  DEFAULT ('Pendiente') FOR [EstadoPedido]
GO
ALTER TABLE [dbo].[Pedidos] ADD  CONSTRAINT [DF_Pedidos_CostoEnvio]  DEFAULT ((0)) FOR [CostoEnvio]
GO
ALTER TABLE [dbo].[Personalizaciones] ADD  DEFAULT (getdate()) FOR [FechaPersonalizacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[WhiteList] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WhiteList] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD FOREIGN KEY([IdCaja])
REFERENCES [dbo].[MysticBox] ([IdCaja])
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD FOREIGN KEY([IdCarrito])
REFERENCES [dbo].[Carrito] ([IdCarrito])
GO
ALTER TABLE [dbo].[DetalleCarrito]  WITH CHECK ADD FOREIGN KEY([IdPersonalizacion])
REFERENCES [dbo].[Personalizaciones] ([IdPersonalizacion])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdCaja])
REFERENCES [dbo].[MysticBox] ([IdCaja])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[DetallePedido]  WITH CHECK ADD FOREIGN KEY([IdPersonalizacion])
REFERENCES [dbo].[Personalizaciones] ([IdPersonalizacion])
GO
ALTER TABLE [dbo].[Entregas]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD FOREIGN KEY([IdPedido])
REFERENCES [dbo].[Pedidos] ([IdPedido])
GO
ALTER TABLE [dbo].[MysticBox]  WITH CHECK ADD FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categorias] ([IdCategoria])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdCupon])
REFERENCES [dbo].[Cupones] ([IdCupon])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdMetodoPago])
REFERENCES [dbo].[MetodosPago] ([IdMetodoPago])
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Personalizaciones]  WITH CHECK ADD FOREIGN KEY([IdCaja])
REFERENCES [dbo].[MysticBox] ([IdCaja])
GO
ALTER TABLE [dbo].[Personalizaciones]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[Calificaciones]  WITH CHECK ADD CHECK  (([Estrellas]>=(1) AND [Estrellas]<=(5)))
GO
USE [master]
GO
