<ion-content [fullscreen]="true" class="registro-content">

  <div class="registro-container">

    <img
      src="assets/img/logo-mysticbox.png"
      class="logo"
      alt="MysticBox">

    <h1>Crear cuenta</h1>

    <p class="subtitulo">
      Regístrate para empezar
    </p>

    <ion-item class="input-item">
      <ion-icon slot="start" name="person-outline"></ion-icon>

      <ion-input
        [(ngModel)]="nombre"
        placeholder="Nombre completo">
      </ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon slot="start" name="mail-outline"></ion-icon>

      <ion-input
        [(ngModel)]="correo"
        type="email"
        placeholder="Correo electrónico">
      </ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon slot="start" name="call-outline"></ion-icon>

      <ion-input
        [(ngModel)]="telefono"
        type="tel"
        placeholder="Teléfono">
      </ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon slot="start" name="location-outline"></ion-icon>

      <ion-input
        [(ngModel)]="direccion"
        placeholder="Dirección">
      </ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>

      <ion-input
        [(ngModel)]="contrasena"
        type="password"
        placeholder="Contraseña">
      </ion-input>

      <ion-icon
        slot="end"
        name="eye-off-outline">
      </ion-icon>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>

      <ion-input
        [(ngModel)]="confirmarContrasena"
        type="password"
        placeholder="Confirmar contraseña">
      </ion-input>

      <ion-icon
        slot="end"
        name="eye-off-outline">
      </ion-icon>

    </ion-item>

    <ion-button
  expand="block"
  class="btn-registro"
  [disabled]="cargando"
  (click)="registrar()">

  {{ cargando ? 'Registrando...' : 'Crear cuenta' }}

</ion-button>

    <div class="login-link">

      ¿Ya tienes cuenta?

      <span (click)="irLogin()">
        Inicia sesión
      </span>

    </div>

  </div>

</ion-content>