<ion-content
  [fullscreen]="true"
  class="registro-content"
>

  <div class="registro-container">

    <img
      src="assets/img/logo-mysticbox.png"
      class="logo"
      alt="Mystic Box"
    >

    <h1>Crear cuenta</h1>

    <p class="subtitulo">
      Regístrate para comprar y
      personalizar tus Mystic Box
    </p>

    <div class="account-type-notice">

      <ion-icon
        name="shield-checkmark-outline"
      ></ion-icon>

      <div>
        <span>Tipo de cuenta</span>

        <strong>
          Cliente
        </strong>

        <small>
          Las cuentas administrativas
          únicamente pueden ser creadas
          por un administrador autorizado.
        </small>
      </div>

    </div>

    <ion-item class="input-item">

      <ion-icon
        slot="start"
        name="person-outline"
      ></ion-icon>

      <ion-input
        [(ngModel)]="nombre"
        placeholder="Nombre completo"
      ></ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon
        slot="start"
        name="mail-outline"
      ></ion-icon>

      <ion-input
        [(ngModel)]="correo"
        type="email"
        placeholder="Correo electrónico"
      ></ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon
        slot="start"
        name="call-outline"
      ></ion-icon>

      <ion-input
        [(ngModel)]="telefono"
        type="tel"
        placeholder="Teléfono"
      ></ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon
        slot="start"
        name="location-outline"
      ></ion-icon>

      <ion-input
        [(ngModel)]="direccion"
        placeholder="Dirección"
      ></ion-input>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon
        slot="start"
        name="lock-closed-outline"
      ></ion-icon>

      <ion-input
        [(ngModel)]="contrasena"
        [type]="
          mostrarContrasena
            ? 'text'
            : 'password'
        "
        placeholder="Contraseña"
      ></ion-input>

      <ion-icon
        slot="end"
        class="password-toggle"
        [name]="
          mostrarContrasena
            ? 'eye-outline'
            : 'eye-off-outline'
        "
        (click)="alternarContrasena()"
      ></ion-icon>

    </ion-item>

    <ion-item class="input-item">

      <ion-icon
        slot="start"
        name="lock-closed-outline"
      ></ion-icon>

      <ion-input
        [(ngModel)]="confirmarContrasena"
        [type]="
          mostrarConfirmacion
            ? 'text'
            : 'password'
        "
        placeholder="Confirmar contraseña"
      ></ion-input>

      <ion-icon
        slot="end"
        class="password-toggle"
        [name]="
          mostrarConfirmacion
            ? 'eye-outline'
            : 'eye-off-outline'
        "
        (click)="alternarConfirmacion()"
      ></ion-icon>

    </ion-item>

    <ion-button
      expand="block"
      class="btn-registro"
      [disabled]="cargando"
      (click)="registrar()"
    >
      {{
        cargando
          ? 'Registrando...'
          : 'Crear cuenta de cliente'
      }}
    </ion-button>

    <div class="login-link">

      ¿Ya tienes cuenta?

      <span
        (click)="irLogin()"
      >
        Inicia sesión
      </span>

    </div>

  </div>

</ion-content>