<ion-content [fullscreen]="true">

  <div class="catalogo-page">

    <div class="catalogo-header">
      <p class="catalogo-label">MysticBox</p>

      <h1>Catálogo de cajas</h1>

      <p>
        Explora nuestras cajas sorpresa y elige la que más se adapte a tus gustos.
      </p>
    </div>

    <div class="estado-carga" *ngIf="cargando">
      Cargando cajas...
    </div>

    <div class="estado-carga error" *ngIf="!cargando && mensajeError">
      {{ mensajeError }}
    </div>

    <div
      class="estado-carga"
      *ngIf="!cargando && !mensajeError && cajas.length === 0"
    >
      No hay cajas disponibles.
    </div>

    <div
      class="catalogo-grid"
      *ngIf="!cargando && !mensajeError && cajas.length > 0"
    >

      <article
        class="mysticbox-card"
        *ngFor="let caja of cajas"
      >

        <div class="mysticbox-imagen">
          <img
            [src]="caja.imagen"
            [alt]="caja.nombreCaja">
        </div>

        <div class="mysticbox-info">
          <h2>{{ caja.nombreCaja }}</h2>

          <p>{{ caja.descripcion }}</p>

          <div class="mysticbox-datos">
            <span class="precio">
              ₡{{ caja.precio | number:'1.0-0' }}
            </span>

            <span class="stock">
              Stock: {{ caja.stock }}
            </span>
          </div>

          <button
            type="button"
            class="seleccionar-btn"
            (click)="seleccionarCaja(caja)"
          >
            Seleccionar caja
          </button>
        </div>

      </article>

    </div>

  </div>

</ion-content>